.leave-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.table-container {
    width: 97%;
}

.select{
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.addLeave {
    margin-left: 10px;
    padding: 8px 16px;
    border: 1px solid var(--theam-color);
    border-radius: 4px;
    background-color: var(--button-color);
    color: var(--theam-color);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.addLeave:hover {
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-hover-color);
    color: white;
}

.leave-table-outer{
    padding: 2% 1%;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--box-shadow);
    margin-top: 1%;
}

.add-leave-form {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 97%;
}

.add-leave-form h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.add-leave-form input {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-time{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
.export-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--success-button-color);
    border: 5px solid var(--success-button-color);
    color: #fff;
    border-radius: 4px;
    padding: 0.1% 0.6%;
    cursor: pointer;
    font-size: 0.8vw;
    transition: background-color 0.3s;
    height: 4vh;
    font-style: normal;
    width:9vw;
}
.export-buttons{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    justify-content: end;
    padding: 1%;
}
.export-btn a{
    color: white;
    text-decoration: none;
}

.payroll-header{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
}
.payroll-header-search{
    width: 40%;
}
.payroll-header-search input{
    width: 30%;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.item-list-Selected{
    display: flex;
    flex-direction: row;
}
.item-list-Selected .items{
    display: flex;
    flex-direction: column;
}